In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\cheta\anaconda3\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\cheta\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\cheta\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cheta\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\cheta\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\cheta\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [5]:
A = [1,7,9,2,5]

myvar =pd.Series(A)

print(myvar)

0    1
1    7
2    9
3    2
4    5
dtype: int64

In [8]:
Sample = {"day1 :" : 420 , "day2 :" : 876, "day3 :" : 56778}
myvar = pd.Series(Sample)
myvar

day1 :      420
day2 :      876
day3 :    56778
dtype: int64

In [11]:
data = {
    "Name": ["Chetan", "pratik", "Sushant"],
    "Calories": [420,380,390],
    "Duration": [50,40,45]
}

df = pd.DataFrame(data)

print(df)

      Name  Calories  Duration
0   Chetan       420        50
1   pratik       380        40
2  Sushant       390        45

In [13]:
df.loc[0]

Name        Chetan
Calories       420
Duration        50
Name: 0, dtype: object

In [14]:
df = pd.read_csv('D:/ML/Data.csv')

In [16]:
df

      Name  Roll_no  Marks
0   Chetan     43.0   89.0
1    Rutik      NaN   54.0
2    Pavan     67.0    NaN
3    Pratk      NaN   67.0
4  Sushant     65.0   89.0

In [17]:
print(df.head(2))

     Name  Roll_no  Marks
0  Chetan     43.0   89.0
1   Rutik      NaN   54.0

In [18]:
print(df.tail(2))

      Name  Roll_no  Marks
3    Pratk      NaN   67.0
4  Sushant     65.0   89.0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     5 non-null      object
 1   Roll_no  3 non-null      float64
 2   Marks    4 non-null      float64
dtypes: float64(2), object(1)
memory usage: 252.0+ bytes

In [20]:
df.describe()

         Roll_no      Marks
count   3.000000   4.000000
mean   58.333333  74.750000
std    13.316656  17.289207
min    43.000000  54.000000
25%    54.000000  63.750000
50%    65.000000  78.000000
75%    66.000000  89.000000
max    67.000000  89.000000